<div class="outer-aboutMe-header">
  <div class="aboutMe-header">
    <h4>info</h4>
    <h3>About Me</h3>
  </div>
</div>


<div class="my-story">
  <span>❦</span>
  <h2>my short story</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>


<div class="tower-section">
  <div class="left-tower">
    <img src="../../../assets/images/left-tower.jpg" alt="">
  </div>
  <div class="right-tower">
    <img src="../../../assets/images/right-tower.jpg" alt="">
  </div>
</div>


<div class="connect-withme">
  <div class="info">
    <h4>
      SUBSCRIPTION
    </h4>
    <h2>
      Get a free e-book by joining newsletter
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
    </p>
    <form action="">
      <input type="text" placeholder="Name Surname">
      <input type="email" placeholder="Email">
      <input type="submit">
    </form>
  </div>
</div>



<div class="logo-section">
  <div class="inner-logo">
    <ul>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-1.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-2.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-3.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-4.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-5.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/images/home-2-client-6.png" alt=""></a>
        </li>
    </ul>
  </div>
</div>