<div class="blog">
  <div class="first-section">
    <div class="img">
      <img src="../../../assets/images/blog-image-1.jpg" alt="">
    </div>
    <div class="paragraph">
      <h4>JOHN STRASS / JULY 29, 2019</h4>
      <h2>Coffee and croissant with our favorite Erika</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie sed tortor id euismod. Phasellus mi odio, 
        pulvinar vitae vestibulum fringilla, dapibus eu sem. Sed consectetur sem ac tortor iaculis, sed sodales est faucibus. 
        Integer nec feugiat justo. Suspendisse potenti. Vivamus sit amet congue magna, eget maximus nunc. Mauris mollis magna elementum, varius orci a, blandit est.
         Vestibulum eget sodales est. Nulla tristique blandit dictum. Fusce volutpat at turpis feugiat lacinia. Nulla facilisi. Aliquam nec lorem mauris. Lorem ipsum dolor sit amet, consectetur adipiscing....
      </p>
    </div>
    <div class="note">
      <span>’’</span>
      <p>
        “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
      </p>
      <h3>JANE AUSTEN</h3>
    </div>
  </div>


  <div class="second-section">
    <div class="img">
      <img src="../../../assets/images/blog-image-2.jpg" alt="">
    </div>
    <div class="paragraph">
      <h4>JOHN STRASS / JULY 29, 2019</h4>
      <h2>A Shakespearean reading evening in book club</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie sed tortor id euismod. Phasellus mi odio, 
        pulvinar vitae vestibulum fringilla, dapibus eu sem. Sed consectetur sem ac tortor iaculis, sed sodales est faucibus. 
        Integer nec feugiat justo. Suspendisse potenti. Vivamus sit amet congue magna, eget maximus nunc. Mauris mollis magna elementum, varius orci a, blandit est.
         Vestibulum eget sodales est. Nulla tristique blandit dictum. Fusce volutpat at turpis feugiat lacinia. Nulla facilisi. Aliquam nec lorem mauris. Lorem ipsum dolor sit amet, consectetur adipiscing....
      </p>
    </div>
    <div class="note">
      <span>’’</span>
      <p>
        “Live as if you were to die tomorrow. Learn as if you were to live forever.”
      </p>
      <h3>Mahatma Gandhi</h3>
    </div>
  </div>



</div>